{% extends 'movies/base.html' %}
{% block body %}
  <h1>제목 : {{movie.title}}</h1>
  <h1>누적관객수 : {{movie.audience}}</h1>
  <img src="{{movie.poster_url}}" wdith="500" height="500" alt="">
  <textarea rows="30" cols="150">{{movie.description}}</Textarea>
  <form action="{% url 'movies:like' movie.pk %}" method="POST">
    {% csrf_token %}
    {% if user in movie.like_users.all %}
      <input type="submit" value="좋아요취소">
    {% else %}
      <input type="submit" value="좋아요">
    {% endif %}
  </form>

  {% for review in reviews %}
    <h1>댓글단사람 : {{review.user.username}}</h1>
    <h1>한줄평 : {{review.content}}</h1>
    <h1>점수 : {{review.score}}</h1>
    <form action="{% url 'movies:review_delete' movie.pk review.pk%}" method='POST'>
    {% csrf_token %}
    {% if user == review.user %}
      <input type="submit" value="삭제하기">
    {% endif %}
    </form>
    <hr>
  {% endfor %}
  <form action="{% url 'movies:review' movie.pk%}" method="POST">
    {% csrf_token %}
    {{form.as_p}}
    <input type="submit" value="평점남기기">
  </form>

{% endblock  %}